.wrapper {
  text-align: center;
  background-color: #f7f7f7;
}

.pagination .rc-pagination-item {
  border: none !important;
}

.arrowRight {
  width: 0; 
  height: 0; 
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 9px solid #0071ca;
  margin: 5px 0 5px 9px;
}

.arrowLeft {
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid #0071ca;
  margin: 5px 0 5px 9px;
}