.table {
  width: 100%;
  border-spacing: 0;
}

.table tbody tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.table thead {
  font-size: 11px;
  text-align: left;
  line-height: 20px;
}

.table thead th{
  border-bottom: solid 2px #dcdde0;
}

.table tbody {
  font-size: 13px;
}

.table tbody td{
  padding: 10px 0;
}

.name {
  color: #0071ca;
}

.light {
  font-weight: 400;
}